body{
    font-family: '微软雅黑';
    font-size:xx-small;
}
.header{
    position: fixed;
    background-color: #55B5FE;
    width: 100%;
    line-height: 2.5em;
    height: 2.5em;
    font-size: 1.75em;
    color:#fff;
    z-index: 999;
}
.header .project-name{
    position: absolute;
    left:40%;
}
.header .home-btn{
    position: relative;
    left:85%;
}

.container{
    position: relative;
    top:4.3em;
    width: 100%;
    margin-bottom: 4em;
}
.container .flicker-example{
    margin-top:-1em;
    height: 20em;
    margin-left: -5%;
    width: 109%;
}
.special-tag{
    margin: 1em;
    font-family:'幼圆';
    font-size: 2em;
    padding-left: 0.5em;
    border-left: 5px solid #FC8450;
}
.action{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #E3DFDF;
    font-family: '幼圆';
    font-size: 2em;
    color:#B9B4B4;
}
.action div{
    margin:0;
    padding: 0;
    display: inline-block;
    text-align: center; 
}
.action .recommend{
    width: 45%;
    border-right: 1px solid #E3DFDF;
    letter-spacing: 0.5em
}
.action .selfinfo{
    margin-right: 0.5em;
}
.action .selfinfo img{
    margin-left:1em;
}
.action img{
    width: 1.5em;
    margin-right: 0.5em;
}
.house-box{
    width: 100%;
    padding:0;
    margin:0;
}
.house-box .house{
    font-family: '幼圆';

    margin-top: 1em;
    margin-left: 3%;
    margin-right: 3%;
    border-bottom: 1px solid #C7C4C4;
}
.house div{
    display:inline-block;
}
.house .house-img{
    width: 40%;
    vertical-align: top;
    padding:0.5em;
}
.house .house-img img{
    width: 100%;
}
.house .house-info{
    width: 55%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.house-info div{
    display: block;
}
.house-info .house-name{
        width: 120%;
    height: 2em;
    line-height: 2em;
    font-size: 2em;
    font-weight: bold;
    color:#000;
    white-space:nowrap; 
    text-overflow:ellipsis; 
    -o-text-overflow:ellipsis; 
    -moz-text-overflow:ellipsis; 
    -webkit-text-overflow:ellipsis; 
    overflow:hidden;
}
.house-info .house-place{
    display: block;
/*    vertical-align: bottom;*/
    font-size: 1em;
    color:#6A6969;
    white-space:nowrap; 
    text-overflow:ellipsis; 
    -o-text-overflow:ellipsis; 
    -moz-text-overflow:ellipsis; 
    -webkit-text-overflow:ellipsis; 
    overflow:hidden;
}
.house-info .house-price{
    display: inline-block;
    text-align: right;
    width: 50%;
    font-size: 2em;
    color: #FF8663;
    vertical-align: bottom;
    white-space:nowrap; 
    text-overflow:ellipsis; 
    -o-text-overflow:ellipsis; 
    -moz-text-overflow:ellipsis; 
    -webkit-text-overflow:ellipsis; 
    overflow:hidden;
}
.house-btn{
    width: 100%;
    position: relative;
    display: inline-block;
    font-size: 1.3em;
}
.house-btn div{
    display: inline-block;
    width: 45%;
    border-radius: 10px;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
}
.watch{
    background-color: #FE967C;
    color:#fff;
}
.rechouse{
    background-color: #E65A5A;
    color: #fff;
}
.house-price .house-pricenum{
    display: inline;
    font-size: 1.3em;
    font-weight: bold;
    vertical-align: bottom;
}

.footer{
    min-height: 2em;
    text-align: center;
    margin-bottom: 2em;
}
.logo{
    width: 100%;
}
.logo img{
    width: 60%;
}
.contact-phone{
    font-family: '幼圆';
    font-size: 2em;
}
