<div ng-controller="homepageCtrl">
  <div class="flicker-example" data-block-text="false" data-auto-flick-delay="3">
    <ul>
      <li data-background="image/homepage/轮播图片/s1.jpg">
       <!--  <div class="flick-title">Flickerplate Is Working</div>
        <div class="flick-sub-text">Heaven forbid this package you downloaded is broken. That wouldn't be embarrassing at all.</div> -->
      </li>
      <li data-background="image/homepage/轮播图片/s2.jpg">
       <!--  <div class="flick-title">Editable via Javascript or CSS</div>
        <div class="flick-sub-text">Take a look at the extensive documentation to see how you can change the settings in multiple ways.</div> -->
      </li>
      <li data-background="image/homepage/轮播图片/s3.jpg">
        <!-- <div class="flick-title">Touch Enabled Through the jQuery Finger Library</div>
        <div class="flick-sub-text">jQuery Finger is a great touch library that has been included as part of the Flickerplate package.</div> -->
      </li>
      <li data-background="image/homepage/轮播图片/s4.jpg">
        <!-- <div class="flick-title">Touch Enabled Through the jQuery Finger Library</div>
        <div class="flick-sub-text">jQuery Finger is a great touch library that has been included as part of the Flickerplate package.</div> -->
      </li>
    </ul>
  </div>
  <script>
  $(document).ready(function(){
    $('.flicker-example').flicker();
  });
  </script>

  <div class="special-tag">特色业务</div>

  <div class="action">
      <div class="recommend">
          <span ng-click="go('recommend')"><img src="image/homepage/hand.png" >推荐</span>
      </div>
      <div class="selfinfo">
          <span ng-click="go('selfinfo')"><img src="image/homepage/person.png" >个人信息</span>
      </div>
  </div>
  <div class="special-tag">好房推荐</div>
  <div class="house-box ">
      <div class="house " ng-repeat="house in houses" >
          <div class="house-img">
              <img ng-src="{{house.thumb_pic}}" alt="房屋图片">
          </div>
          <div class="house-info ">
              <div class="house-name">{{house.name}}</div>
              <div class="house-place">{{house.addr}}</div>
              <div class="house-btn">
                <div class="watch" ng-click="gohouse(house.house_id)">全景看房</div>
                <div class="rechouse" ng-click="one_recommend(house.house_id,house.name)">一键推荐</div>
              </div>
              <!-- <span class="house-price"><span class="house-pricenum">{{house.price}}</span>/m<sup>2</sup></span> -->
          </div>
      </div>
  </div>
  <div class="special-tag">联系我们</div>
  <div class="footer">
      <div class="logo">
          <img src="image/Logo.png" alt="品牌logo">
      </div>
      <div class="contact-phone">
        联系方式：028-12345678
      </div>
  </div>
</div>