<div class="self-box" ng-controller="selfinfoCtrl">
	<div class="self-name input-group">
		<span class="input-group-addon self-span-head">姓名</span>
		<input type="text" class="form-control" value="张三" ng-disabled="disctrl[0]">
	</div>
	<div class="self-backno input-group">
		<span class="input-group-addon self-span-head">证件号</span>
		<input type="text" class="form-control" ng-model="id_no" ng-disabled="disctrl[3]">
	</div>

	<div class="self-back input-group">
		<span class="input-group-addon self-span-head">银行</span>
		<input type="text" class="form-control" ng-model="bankname" ng-disabled="disctrl[1]">
		<span class="input-group-btn" ng-show="disctrl[1]">
		<button class ="btn btn-info self-span-end" type="button" ng-click="edit(1)"><span class="glyphicon glyphicon-edit "></span></button>
      </span>
      <span class="input-group-btn" ng-hide="disctrl[1]">
        	<button class="btn btn-info self-span-end" type="button" ng-click="checkSubmit(1)">确认修改</button>
      	</span>
	</div>
	<div class="self-backno input-group">
		<span class="input-group-addon self-span-head">卡号</span>
		<input type="text" class="form-control" ng-model="bankno" ng-disabled="disctrl[2]">
		<span class="input-group-btn" ng-show="disctrl[2]">
        <button class="btn btn-info self-span-end" type="button" ng-click="edit(2)"><span class="glyphicon glyphicon-edit "></span></button>
      </span>
      <span class="input-group-btn" ng-hide="disctrl[2]">
        	<button class="btn btn-info self-span-end" type="button" ng-click="checkSubmit(2)">确认修改</button>
      	</span>
	</div>
	
	<div class="self-recommendno">
		推荐人数：{{recommend_num}}人
	</div>
</div>